body {
  color: #757575;
  background-color: #ffffff;
  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #212121;
}

img {
  display: block;
  width: 100%;
}

.visually-hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.7;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__accent {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  color: #000;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu__toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__toggle:hover, .menu__toggle:focus {
    fill: #2196f3;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    z-index: 999;
    transform: translateY(-120%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu.is-open {
    transform: translateY(0);
  }
}
@media screen and (max-width: 767px) {
  .menu__container {
    position: relative;
    padding: 48px 40px;
  }
}
@media screen and (max-width: 767px) {
  .menu__list {
    margin-bottom: 154px;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__list {
    margin-bottom: 306px;
  }
}
@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .menu__link {
    display: block;
    color: #212121;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: #2196f3;
  }
  .menu__link--current {
    color: #2196f3;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__link {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .menu__contacts {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  .menu__phone {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.18;
    color: #2196f3;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__phone {
    margin-bottom: 32px;
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  .menu__mail {
    font-size: 14px;
    line-height: 1.17;
    color: #757575;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__mail {
    margin-bottom: 64px;
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .menu__social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__social-links {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .social-links__item {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .social-links__item:not(:last-child)::after {
    display: block;
    margin-left: 5px;
    content: "";
    width: 1px;
    height: 18px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .social-links__item:not(:last-child)::after {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .menu__social-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .menu__social-link {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}

.header__section {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  position: relative;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__link {
  display: block;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__link--current {
    position: relative;
    color: #2196f3;
  }
  .header__link--current::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.contacts__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
    fill: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__mail {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.contacts__icon-mail {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon-mail {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon-phone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon-phone {
    width: 10px;
    height: 16px;
  }
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile-480.jpg);
  background-size: cover;
}
@media screen and (min-resolution: 2dppx), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile-960.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet-1536.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop-3200.jpg);
  }
}

.hero__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .gallery {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 0;
  }
}

.images__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.images__thumb {
  position: relative;
}

.images__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.images__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.member__content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.member__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.member__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member__link:hover, .member__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.brand__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.brand__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .brand__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .brand__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.brand__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.brand__link:hover, .brand__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.footer__section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    margin-right: 165px;
  }
}

.address__link {
  display: block;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}
.address__link:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: #ffffff;
}

.address__tel,
.address__mail {
  color: rgba(255, 255, 255, 0.6);
}

.social-links {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social-links {
    margin-bottom: 0;
    margin-left: 88px;
    margin-right: 93px;
  }
}

.social-links__list {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1199px) {
  .social-links__list {
    justify-content: center;
  }
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .newsletter__field {
    display: flex;
  }
}

.newsletter__input {
  width: 100%;
  height: 50px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding: 15px 16px;
  color: #757575;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__input:focus {
  outline: none;
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.newsletter__modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  fill: #fff;
}

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover {
  fill: #2196f3;
}

.form {
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 480px) {
  .form {
    padding: 40px;
  }
}

.form__title {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .form__title {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  height: 30px;
  width: 100%;
  padding-left: 42px;
  padding-right: 16px;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .form__input {
    height: 40px;
  }
}

.form__icon {
  position: absolute;
  top: 42%;
  left: 15px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within > .form__input,
.form__field:focus-within > .form__comment {
  outline: none;
  border-color: #2196f3;
}

.form__field:focus-within > .form__icon {
  fill: #2196f3;
}

.form__comment {
  resize: none;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .form__comment {
    height: 120px;
  }
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  gap: 5px;
  font-size: 10px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .policy {
    margin-bottom: 30px;
    gap: 9px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__conditions {
  color: #2196f3;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox__icon {
  width: 12px;
  height: 11px;
  border: 2px solid #000000;
  border-radius: 2px;
}
@media screen and (min-width: 480px) {
  .checkbox__icon {
    width: 16px;
    height: 15px;
  }
}

.checkbox:checked + .checkbox__icon {
  background-image: url(../images/icon-check.svg);
  width: 12px;
  height: 11px;
  background-size: cover;
  background-origin: border-box;
  border-color: transparent;
}
@media screen and (min-width: 480px) {
  .checkbox:checked + .checkbox__icon {
    width: 16px;
    height: 15px;
  }
}

.checkbox:focus + .checkbox__icon {
  border: 2px solid #2196f3;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 480px) {
  .modal-btn {
    padding: 10px 32px;
    font-size: 16px;
  }
}

.portfolio__nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio__nav {
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__nav {
    justify-content: center;
  }
}

.portfolio__btn {
  padding: 6px 18px;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .portfolio__btn {
    font-size: 16px;
    padding: 6px 22px;
  }
}

/* Cards */
@media screen and (min-width: 768px) {
  .portfolio__set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #757575;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__description {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
}
@media screen and (min-width: 480px) {
  .overlay__description {
    font-size: 18px;
  }
}

.portfolio__card:hover .card__overlay {
  transform: translateY(0);
}

.portfolio__card:focus .card__overlay {
  transform: translateY(0);
}

.card__content {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.client__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.client__category {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */