  
  .features__list {

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap; 
      gap: 30px;
    }

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }

  .features__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    
    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 30px * 3)/4);
    }
  }
  
  .features__wrapper {
    @include centeredFlex ();
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }
  
  .features__title {
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  
  .features__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  