// Галерея

.gallery {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 0;
  }
}
  
.images__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .images__thumb {
    position: relative;
  }
  
  .images__overlay {
    @include centeredFlex ();

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
  
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  .images__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
  }