.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;

      &__accent {
    color: $accent-color;
    } 

    @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
    }
  }
   
  .header__logo {
    color: #000;
  }
  
  .menu__container.is-open .header__logo {
    display: none;
  }
  
  .footer__logo {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
  }

