body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
}



.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
.backdrop.is-hidden & {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

  @media screen and (min-width: $tablet) {
    max-width: 450px;
  }

  @media screen and (min-width: $desktop) {
    max-width:528px;
  } 
}

.modal__close-btn {
  @include centeredFlex ($justify: center);

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  fill: #000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    fill: $accent-color;
  }
}

.form {
  width: 100%;
  padding: 40px;
}

.form__title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;

  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  padding-right: 16px;
  margin: 0;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 42%;
  left: 15px;

  fill: $title-color; 

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within > .form__input,
.form__field:focus-within > .form__comment {
  outline: none;
  border-color: $accent-color;
}

.form__field:focus-within > .form__icon {
  fill: $accent-color;
}

.form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  @include centeredFlex ();
  
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
  gap: 9px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__conditions {
  color: $accent-color;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox__icon { 
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
}

.checkbox:checked + .checkbox__icon {
  background-image: url(../images/icon-check.svg);
  width: 16px;
  height: 15px;
  background-size: cover;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox:focus + .checkbox__icon {
  border: 2px solid $accent-color;
}

.modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $accent-color;
    cursor: pointer;
  
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
  