$primary-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$primary-bgc: #ffffff;
$secondary-bgc: #f5f4fa;
$button-color: #f5f4fa;
$primary-font-family: roboto, sans-serif;
$portfolio-set-gap: 30px;